.myOrdersPage {
    width: 100vw;
    max-width: 100%;
    padding: 0 7vmax;
    box-sizing: border-box;
    background-color: rgb(235, 235, 235);
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #f4f4f4;
    position: relative;
}

#myOrdersHeading {
    text-align: center;
    font: 400 1.8rem "Roboto";
    padding: 1rem;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    transition: all 0.5s;
    background-color: rgb(44, 44, 44);
}

.myOrdersTable {
    background-color: white;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.myOrdersTable th,
.myOrdersTable td {
    padding: 15px;
    /* Adjust padding as needed */
    text-align: left;
}

.myOrdersTable th {
    background-color: #f0f0f0;
    /* Header background color */
}

.myOrdersTable td {
    border-bottom: 1px solid #ddd;
    /* Border between rows */
}

.myOrdersTable a {
    color: #333;
    /* Link color */
    text-decoration: none;
    transition: color 0.5s;
}


.myOrdersTable div {
    font: 300 1vmax "Roboto";
    color: rgba(0, 0, 0, 0.678);
    border: none;
}

.myOrdersTable a:hover {
    color: tomato;
}

.greenColor {
    color: green;
}

.redColor {
    color: red;
}

@media screen and (max-width: 600px) {
    .myOrdersTable th,
    .myOrdersTable td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    
    .myOrdersTable td::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
    }
}