/* Updated OrderDetails.css */

.orderDetailsPage {
    background-color: #f7f7f7;
    padding: 20px;
}

.orderDetailsContainer {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-section {
    margin-bottom: 20px;
}

.order-section p {
    margin: 8px 0;
}

.greenColor {
    color: green;
}

.redColor {
    color: red;
}

.orderDetailsCartItems {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orderDetailsCartItemsContainer>div {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.orderDetailsCartItemsContainer>div>img {
    width: 75px;
    margin-right: 10px;
}

.orderDetailsCartItemsContainer>div>a {
    color: #575757;
    margin: 0 20px;
    text-decoration: none;
    width: 60%;
}

.orderDetailsCartItemsContainer>div>span {
    font-weight: 100;
    color: #5e5e5e;
}

@media screen and (max-width: 600px) {
    .order-section p {
        font-size: 14px;
    }

    .orderDetailsCartItemsContainer>div>img {
        width: 80px;
    }

    .orderDetailsCartItemsContainer>div>a {
        margin: 0 10px;
        width: 30%;
    }

    .orderDetailsCartItemsContainer>div>span {
        font-size: 14px;
    }
}