body {
    margin: 0;
    padding: 0;
}

/* 
   * Customize the scrollbar */
   /* Works for WebKit (Chrome, Safari, etc.) */
   ::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* color of the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* color of the thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the thumb on hover */
  }
